.commerce{
  display: grid;
  grid:
    "body sidebar" 1fr
    / auto 1fr;
  gap: 8px;
}

.cart {
  grid-area: sidebar;
  margin-top: 16px;
  margin-right: 16px;
}
.copies{
  grid-area: body;
  margin-left: 16px;
  margin-block: 16px;
}
