h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart {
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  min-width: 350px;
  margin: 0 auto;
}

.cart__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart__list {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}


 .cart-item_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  
}

.icon_empty {
  margin-bottom: 20px;

}

.text_empty {
  font-size: 20px;
  margin-bottom: 20px;
  margin-bottom: 40px;
  font-family:"Poppins", sans-serif ;
  
} 

#returnDate {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cart__confirmation {
  margin-top: 10px;
  height: 40px;
  background-color: #136696;
  border-radius: 18px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.disabled{
  background-color: #ccc;
  cursor: not-allowed;

}
.cart__clear {
  margin-top: 10px;
  height: 40px;
  background-color: #ff6347;
  border-radius: 18px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.button_cart {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart__empty{
  font-size: 24px;
  text-align: center;
}


/* =============MODAL==============  */


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}



.modal-content {
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-title {
  margin: 0;
}

.close-button {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}
.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  text-align: right;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #ccc;
  color: #fff;
}

  