<section>

    <!-- <div class="modal" id="resultModal" [style.display]="(successResponse === true || errorResponse !== null) ? 'block' : 'none'">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Resultado del Préstamo</h5>
              <button type="button" class="close-button" (click)="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
              <p *ngIf="successResponse === true">Tu préstamo se agendó correctamente.</p>
              <p *ngIf="errorResponse !== null">Hubo un error en tu préstamo, intenta otra vez.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
            </div>
          </div>
        </div>
      </div> -->
</section>
