:root {
  color-scheme:unset;
  background-color: rgb(56, 56, 56);
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main .foot .header {
  max-width: 1110px;
  margin: 0 auto;
}
